html, body {
    padding:0;
    margin:0;
}

.background {
    /*background: url("img/background.jpg") 800px 800px no-repeat;*/
    width: 100%;
    min-height:100%;
    z-index: 0;
    background-attachment: local;
    position: relative;
    background-size: cover;
     
}

#background {
    min-height:620px;
    
}

.character {
    z-index: 100;
    top: 81.75%;
    position: absolute;
}
