html, body{
    margin: 0;
    padding: 0;
}
.background{
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: 700%;
    
}

.character{
    position: relative;
    margin-top: 34%;
    left:10px;
    width: 20px;
    height: 40px;
    
}
