body{
    background-image: url("/img/background.jpg");
    background-repeat: no-repeat;
    background-size: 800%;
    margin: 0;
    padding: 0;
    
}

.character{
    width: 4em;
    height: 5em;
    margin-top: 41.5%;
    position: relative;
}